# ------------------------------
# Python
# ------------------------------
myenv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/

# ------------------------------
# Environment Variables
# ------------------------------
.env

# ------------------------------
# Node
# ------------------------------
frontend/node_modules/
frontend/dist/

# ------------------------------
# VS Code / IDE
# ------------------------------
.vscode/
.idea/

# ------------------------------
# Operating System
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Logs
# ------------------------------
*.log

# ------------------------------
# Database
# ------------------------------
*.sqlite3

# ------------------------------
# Alembic
# ------------------------------
backend/alembic/versions/__pycache__/

# ------------------------------
# Coverage
# ------------------------------
.coverage
htmlcov/

# ------------------------------
# Python Packaging
# ------------------------------
build/
dist/