@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family:Poppins,sans-serif;
}

.login-page{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#0f172a,#1e3a8a,#2563eb);
    padding:40px;
}

.login-card{

    width:420px;

    background:rgba(255,255,255,.12);

    backdrop-filter:blur(18px);

    border-radius:25px;

    padding:40px;

    box-shadow:0 20px 60px rgba(0,0,0,.35);

    color:white;

}

.login-card h1{

    text-align:center;

    margin-bottom:10px;

}

.subtitle{

    text-align:center;

    color:#dbeafe;

    margin-bottom:35px;

}

.login-card input{

    width:100%;

    padding:14px;

    margin-bottom:20px;

    border:none;

    border-radius:12px;

    outline:none;

    font-size:15px;

}

.login-card button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:12px;

    background:#22c55e;

    color:white;

    font-size:17px;

    cursor:pointer;

    transition:.3s;

}

.login-card button:hover{

    transform:translateY(-3px);

    box-shadow:0 15px 35px rgba(34,197,94,.4);

}

.register-link{

    text-align:center;

    margin-top:25px;

}

.register-link a{

    color:#4ade80;

    text-decoration:none;

    font-weight:600;

}
.login-card select{

    width:100%;

    padding:14px;

    margin-bottom:20px;

    border:none;

    border-radius:12px;

    outline:none;

    font-size:15px;

    background:white;

    color:#111827;

}

.login-card input:focus,
.login-card select:focus{

    box-shadow:0 0 0 3px rgba(34,197,94,.35);

}