.navbar{

    height:80px;

    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 35px;

    box-shadow:0 4px 18px rgba(0,0,0,.05);

}

.navbar h2{

    margin:0;

    color:#0F172A;

}

.navbar p{

    margin:5px 0 0;

    color:#64748B;

}

.right{

    display:flex;

    align-items:center;

    gap:20px;

}

.search{

    display:flex;

    align-items:center;

    background:#F1F5F9;

    padding:10px 16px;

    border-radius:30px;

    gap:10px;

}

.search input{

    border:none;

    background:transparent;

    outline:none;

    width:220px;

}

.icon{

    cursor:pointer;

    color:#334155;

}

.avatar{

    width:42px;

    height:42px;

    border-radius:50%;

    background:#1565C0;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-weight:bold;

}